<div class="container">
  <div class="title">오아시스 Car Wash 서비스 이용약관</div>

  <div class="sub-title" ng-click="updateAgree(1);"><img ng-src="img/img_{{b1Checked ? 13 : 8}}.png"/><div>목적</div><div class="select">[선택]</div></div>
  <div class="content" ng-click="updateAgree(1);">본 약관은 “오아시스 Car Wash” 를 운영하는 오아시스 (이하 “회사”라 합니다.) 의 신용카드 결제 와 차량번호와 연동된 월구독 결제를 이용함에 있어 필요한 조건, 절차 및 당사자간의 권리, 의무 등 기본적인 사항을 규정하는 것을 목적으로 합니다.</div>

  <div class="sub-title" ng-click="updateAgree(2);"><img ng-src="img/img_{{b2Checked ? 13 : 8}}.png"/><div>용어의 정의</div><div class="select">[선택]</div></div>
  <div class="content" ng-click="updateAgree(2);">A. “고객” 이란 본 약관에 동의하고 “회사” 와 서비스 이용계약을 체결하고 “회사”의       “오아시스 결제 시스템” “오아시스 Car Wash”를 이용하는 자를 말합니다.</div>
  <div class="content" ng-click="updateAgree(2);">C. 서비스 운영 방침은 회사의 정책 변경 등에 따라 변경될 수 있으며, 상세 내용은
         매장 내 수단으로 사전에 안내합니다.</div>
  <div class="content" ng-click="updateAgree(2);">B. “월 구독 결제” 란 회원이 회사의 오아시스 결제 시스템 및 오아시스 CarWash 매
         장에 차량번호와 신용카드 결제수단을 등록하면 진입 시 고객을 자동으로 인식하
         여 별도의 결제수단을 제동하지 않아도 기 등록된 고객의 대표 신용카드로 자동
         결제할 수 있도록 하여 보다 빠르고 편리하게 오아시스 매장을 이용할 수 있도록
         회사가 제공하는 서비스를 말합니다.</div>

    <div class="sub-title" ng-click="updateAgree(3);"><img ng-src="img/img_{{b3Checked ? 13 : 8}}.png"/><div>적용의 범위</div><div class="select">[선택]</div></div>
  <div class="content" ng-click="updateAgree(3);">A. 본 약관은 서비스를 이용하고자 하는 모든 고객에게 적용됩니다.</div>
  <div class="content" ng-click="updateAgree(3);">B. 본 약관의 내용은 서비스 화면에 게시하여 이용자에게 공지되고, 이를 동의한 이
         용자 에게만 효력이 발생합니다.</div>
  <div class="content" ng-click="updateAgree(3);">C. 회사는 경영환경의 변화 또는 영업정책에 따라 본 약관의 일부를 변경할 수 있으
         며 변경된 약관은 고객에게 화면을 통한 안내 등의 방법으로 공지합니다.</div>
  <div class="content" ng-click="updateAgree(3);">D. 변경된 약관에 동의하지 않는 고객은 회사에 “서비스” 이용중단을 요청할 수 있습
         니다.</div>
  <div class="content">E. 약관 변경의 경우, 약관 변경 발효일까지 별도의 거부 의사를 표시하지 않으면 약
         관의 변경에 동의한 것으로 간주한다는 내용을 공지 또는 통지하였음에도 불구하
         고 이용자가 명시적으로 약관 변경에 대한 거부 의사를 표시하지 않을 경우 변경
         약관에 동의한 것으로 간주합니다.</div>

  <div class="sub-title" ng-click="updateAgree(4);"><img ng-src="img/img_{{b4Checked ? 13 : 8}}.png"/><div>서비스 이용에 대한 총칙</div><div class="select">[선택]</div></div>
  <div class="content" ng-click="updateAgree(4);">A. 이용의 제한</div>
  <div class="content" ng-click="updateAgree(4);">i. “오아시스 신용카드 결제 및 차량번호와 연동된 월구독 결제” (이하 “서비스”라 합
         니다.) 서비스는 해당 서비스 이용약관에 동의하고 차량번호 및 결제수단을 등록
         한 경우에 한하여 서비스를 제공받을 수 있습니다.
         ii. 서비스는 고객당 1 대의 차량 번호 등록이 가능합니다.
         iii. 서비스는 신용카드로 이용 시, 본인 명의의 신용카드만 등록이 가능합니다.</div>

  <div class="sub-title" ng-click="updateAgree(5);"><img ng-src="img/img_{{b5Checked ? 13 : 8}}.png"/><div>개인정보 수집 이용동의</div><div class="select">[선택]</div></div>
  <div class="content" ng-click="updateAgree(5);">오아시스 서비스 이용을 위하여 아래와 같이 고객님의 개인정보를 수집/이용하려고 하오니 내용을 확인 후 동의 여부를 결정하여 주시기 바랍니다.
         수집/이용목적 : 오아시스”서비스” 이용
         항목 : 자동차 등록번호
         보유 및 이용기간 : 서비스 탈퇴 시 까지
         * 위의 개인정보 수집 / 이용에 대한 동의를 거부할 권리가 있습니다. 그러나 동의를 거부할 경우 오아시스 “서비스” 이용에 제한을 받을 수 있습니다.
         본 이용약관은 2022 년 11 월 31 일 부터 시행합니다.</div>


</div>