<div id="bg-dialog" class="dialog-yn" ng-click="$event.stopPropagation();startTimer();">
  <div id="box-dialog">
    <div id="title-dialog" ng-bind-html="dialogtxtTitle | safeHtml"></div>
    <div id="desc-dialog" ng-bind-html="dialogYnDesc | safeHtml"></div>
    <div id="box-btn">
      <div id="btn-cancel" ng-if="dialogYnBtnCancel" ng-click="hideDialogYn();onClickDialogN?onClickDialogN():'';">{{dialogYnBtnCancel}}</div>
      <div id="btn-ok" ng-click="hideDialogYn();onClickDialogY?onClickDialogY():'';">{{dialogYnBtnConfirm}}</div>
    </div>
  </div>
</div>
